body{
  font-family: cambria math;
  color:#fff;
  background-color:#fff;
}
.navigation-container{
  padding: 10px;
  margin: 0 3%;
}
.brand-style{
  font-size: 2rem;
}
.item-style{
  padding-right:15px;
}
.link-style{
  font-size: 1.5rem;
}

.Logo-Section{
  margin: 7%;
  padding: 10%;
}
.section{
  /* border:1px solid green; */
  padding: 3%;
}
.img-logo{
  width:300px;
  height:300px;
  border: 1px solid powderblue;
  padding: 30px;
}
.section-img{
  /* width:200px;
  height:150px; */
  height:90%;
  width:80%;
  position: relative;
  left: 8%;

}
.style-container{
  padding:4% 3%;
  margin:2% auto;
}
.sectionText{
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: justify;
}
.SubHeading{
  font-size:2.5rem;
  margin:1% auto;
  text-align:center;

}
/*.page-title{
  font-size:2.5rem;
  margin:1% auto;
  text-align:center;
  position:relative;
  left:10%;
}*/
/*new style*/
.page-title{
  font-size:2.5rem;
  margin:1% auto;
}

.div-float-section{
  margin: 0 15%;
  padding:5%;
}
.table-style{
  width:50%;
  margin: 5% auto;
  font-weight: bold;
  font-size:1.2rem;
}
footer{
  text-align:center;
  margin:3% auto 0 auto;
}
.footer-icons{
  padding:1%;
  color:#fff;
  font-size: 2rem;
  margin-right:5%;
}
.footer-text{
  font-size: 1.5rem;
  margin-right: 3%;

}
.contact-link , .footer-link{
  text-decoration:none;
  color:#fff
}
.contact-link:hover , .footer-link:hover{
  color:powderblue;
}

/* Contact Page */

.contact-title{
  color:red;
  text-align:left;
  font-size:2.5rem;
  margin-top:-10%;
}

.contact-body{
  border:1px solid grey;
  border-radius:20px;
  padding:5%;
  margin-top:7%;
  width:50%;
}

.contact-body label{
  color:red;
  letter-spacing:2px;
  font-family : arial;
  font-size:1.5rem;
  padding:3% 0 2% 0;
}

.contact-body input, .contact-body textarea{
    color:blue;
    font-family : cambria math;
    font-size:1.5rem;
    width:100%;
    border:1px solid dodgerblue;
    border-radius : 5px;
    outline:none;
    padding:2%;
    margin-bottom: 3%;
}

.contact-body input[type="submit"]{
   margin-top:7%;
   color:#fff;
}

/*Guessing Number page style */
.backbtn-div{
  padding-top:1%;
  text-align:center
}

/*
.homeBtn{
  border:2px solid #fff;
  border-radius: 20px;
  font-size:1.5rem;
  color:#fff;
  padding:10px;
  text-decoration:none;
  font-family:cambria math
}*/

/*new style*/
.homeBtn{
  position:relative;
  top:15%;
  right:5%;
  border:2px solid #fff;
  border-radius: 20px;
  font-size:1.5rem;
  color:#fff;
  padding:12px;
  text-decoration:none;
  font-family:cambria math
}
.admin-logout{
  border:1px solid #fff;
  border-radius: 10px;
  text-decoration:none;
  font-family:cambria math;
  letter-spacing: 2px;
  color:#fff;
  font-size:1.2rem;
  padding: 10px;
  position:relative;
  top:20%;
  right:5%;
}

.logout-item-style{
   margin: 1% 5%;
}


.homeBtn:hover,.admin-logout:hover{
  background-color:#fff;
  color:red;
}

.text{
  margin:3% auto;
  text-align: center;
  font-size:3rem;
}
.img-style{
  display: block;
  margin:5% auto;
}

.guess-row-style{
 text-align:center;
 margin:auto;
 padding:2%

}
.guess-label{
  color:red;
  font-size:2rem;
}
.guess-input{
  outline:none;
  width:10%;
  border:1px solid blue;
  padding:1%;
  color:red;
  font-size:1.5rem;
  font-family:cambria math;
}
.guessBtn{
  margin-top:3%;
  font-size:1.7rem;
  letter-spacing:2px;
  width:20%;
}

/* Blog Index style */

.blogindex-div{
  margin:0 15%;
}

.cardImage{
   width:50%;
   margin : auto;
}

.card-style{
 width:90%;
 margin:7% 1%;
}

.cardTitleStyle{
   color:red;
   font-size:2rem;
   margin:3% 0;
}

.cardBodyStyle{
   color:blue;
   font-size:1.7rem;
   text-indent:15px;
   padding:3%;
   text-align:justify;
  }

/* News Page */

.news-row-style{
  color:red;
  padding:2%;
  text-align:center;
  margin: 5% auto;
  border:1px solid grey;
  border-radius:30px;
}

.news-title{
  font-size:2.5rem;
  font-family:cambria;
  font-weight:bold;
}

.news-dt{
 margin: 2% auto;
 font-size:2.3rem;
 font-weight:600;
}

.news-img{
  display: block;
  margin:3% auto;
  width:50%;
}

.news-data{
  text-align:center;
  color:brown;
  font-size:1.7rem;
  font-weight:500;
  line-height:1.7;
  margin: 1% auto;
  width:70%;
}
.btn-readmore-row{
  margin: 1% auto;
}

.btn-news-readmore-row{
  text-align:center;
}
.btn-news-control-row{
  text-align:center;
  margin:2% auto;
}

.news-btn{
  margin-bottom:2%;
  width:30%;
  padding:1%;
  font-size:1.8rem;
  letter-spacing:5px;
}



/* Admin section */

/* Avg Calculator */

  .ShareMarket-table label,.ShareMarket-table td{
    color:blue;
    font-family : cambria math;
    font-size:1.5rem;
    text-align:left;
  }


  input[type = "password"],input[type = "text"]{
    color:blue;
    font-family : cambria math;
    font-size:1.5rem;
    width:70%;
    border:1px solid blue;
    border-radius : 5px;
    outline:none;
}

input[type = "submit"]{
  width:100%;
  margin:2% auto;
  letter-spacing:3px;
}
.clearbtn{
   width:40%;
   margin-left:2%;
   letter-spacing:2px;
}

.ShareMarket-table {
    border-collapse: separate;
    border-spacing: 0 2em;
    margin:auto;
    padding:3%;
}

.output-Text{
  font-size : 1.5rem;
  word-spacing:5px;
}


/* Share Market Data  */
.companylist-style{
padding:1.3%;
width:70%;
border:1px solid blue;
color:red;
outline:none;
}


/* login */

.login-icon{
  color:blue;
  font-size:2rem;
}
.admin-login-row{
  margin:10% auto;
}


.admin-login-form-style{
 margin:2% auto;
 padding:2%;
 width:40%;
 border-radius:20px;
 box-shadow: 5px 10px 10px 8px #888888;
 border:1px solid grey;
}

.login-table {
    margin:1% auto;
    width:80%;
    text-align:center;
    border-collapse: separate;
    border-spacing: 0 2em;
}
.login-table input[type = "submit"]{
   position:relative;
   left:13%;
   width:40%;
   font-size:1.7rem;
}


/* Admin page */
.admin-login-row
{
  margin:7% 17%;
}
.dd-menu-style{
 background-color:#F2F2F2;
}

.dd-link-style{
  font-size:1.4rem;
  color:green;
}
.dd-link-style:hover{
  color:red;
}


/* Error Page */

.content{
   padding:3%;
   margin:15% auto;
   text-align:center;
}

.error-label{
 color:red;
 font-family:cambria math;
 font-size : 3rem;
}

/* Alert Section */

#alert-div{
  position:absolute;
  border:3px solid green;
  width:30%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:red;
  background-color:#fff;
  visibility:hidden;
  z:index:10;
  }

#alert-div-title{
  font-family:cambria math;
  font-size:1.7rem;
  margin-top:0;
  color:#fff;
  padding:1.5% 2%;
  background-color:green;
  letter-spacing:1px;
}

#alert-box{
  padding:5%;
}

#alert-text{
  font-size:1.7rem;
  letter-spacing:3px;
  text-align:center;
  font-weight:bold;
  font-family:cambria;
}
#alert-button-div{
 text-align:center;
}

#alert-ok-btn{
   font-size:1.4rem;
   color:#fff;
   width:15%;
   padding:1%;
   background-color:green;
   margin: 3% auto 0% auto;
   border-radius:10%;
}



