{% extends "base.html" %}
{% block title %} Admin {% endblock %}
{% block content %}
<div class = "container-fluid" >
   <div class="row"  style="margin:7% 17%; ">
     <div class="col-sm-12">
          <form action="{{ url_for('admin_login_page') }}" method="post" class="admin-login-form-style">
              <!--<h4 style="color:red;text-align:center;font-size:2rem;width:50%;margin:auto;">LOGIN</h4>-->
              <table class="login-table">
              <tr>
                  <td colspan="2">
                      <img src="{{ url_for('static',filename = 'images/ThanigaiFacts.png') }}" alt="thanigai facts" style="margin:auto;">
                  </td>
              </tr>
               <tr style="width:50%;">
                  <td style="width:10%;">
                     <span class="fa-solid fa-user-ninja login-icon" ></span>
                  </td>
                  <td style="width:40%;text-align:left">
                   <input type="text" name="userName" >
                  </td>
               </tr>

               <tr style="width:50%;">
                  <td style="width:10%;">
                     <span class="fa-solid fa-lock login-icon" ></span>
                  </td>
                  <td style="width:40%;text-align:left">
                  <input type="password" name="password">
                  </td>
               </tr>

               <tr style="width:50%;">
                  <td style="width:10%;"></td>
                 <td style="width:40%;text-align:left"><input type="submit" class="btn btn-success" name="LoginBtn" value="Login"></td>
               </tr>
               <tr>
                 <td colspan="2"><p class="output-Text" style="color:red;">{{ LoginStatus }}</p></td>
               </tr>
              </table>
          </form>
     </div>
   </div>
</div>
{% endblock %}