{% extends "base.html" %}
{% block title %}Share Market Detail {% endblock %}
{% block backbtn %}
  <a href="{{ url_for('admin_home') }}" class = "homeBtn">Back</a>
{% endblock %}
{% block content %}
  <div class = "container" style="margin:10% auto;">
   <div class="row"  style="margin:0">
     <div class="col">
          <form action="{{ url_for('ShareMarket') }}" method="post" style="margin:3% auto;padding:3%;">

    <table style="margin:auto;padding:3%;" class="ShareMarket-table">
         <h4 style="color:red;text-align:center;font-size:2rem;">Share Market Details</h4>
      <tr>
        <td >
          <label>
            Select Company
          </label>
        </td>
         <td>
          :  <select id="CompanyList" name="CompanyNames" style="padding:1.3%;width:70%;border:1px solid blue;color:red;">
              <option value="INFOSYS">INFOSYS</option>
              <option value="WIPRO">WIPRO</option>
             <option value="HCL">HCL</option>
             <option value="TCS">TCS</option>
             </select>
        </td>
      </tr>
        <tr>
        <td >
          <label>
            Comapany Name
          </label>
        </td>
        <td>
          : <input type="text" name="CompanyName" value = {{ CompName }}>
        </td>
      </tr>
      <tr>
        <td>
          <label>
               Qty
          </label>
        </td>
        <td>
          : <input type="text" name="BuyQty" value = {{ BQty }}>
        </td>
      </tr>
      <tr>
        <td>
          <label>
              Buy Price
          </label>
        </td>
        <td>
          : <input type="text" name="BuyPrice" value = {{ BPirce }}>
        </td>
      </tr>

      <tr>
        <!--<td colspan="2" ><input type="submit" class="btn btn-lg btn-success" name="SubmitBtn" value="Calculate"></td>-->
        <td><input type="submit" class="btn btn-lg btn-success" name="SaveBtn" value="Save"></td>
        <td><button class="btn btn-lg btn-outline-success clearbtn" name="ClearBtn">Clear</button></td>
      </tr>
      <tr>
          <td colspan="2"><p class="output-Text" style="color:red;">{{ outText }}</p></td>
      </tr>
    </table>
  </form>
  </div>
</div>
  </div>
{% endblock %}
