{% extends "base.html" %}
{% block title %}Share Market Detail {% endblock %}
{% block backbtn %}
  <a href="{{ url_for('admin_home') }}" class = "homeBtn">Back</a>
{% endblock %}
{% block content %}

  <div class = "container" style="margin:10% auto;">
   <div class="row"  style="margin:0">
     <div class="col">
      <form action="{{ url_for('ShareMarket') }}" method="post" style="margin:3% auto;padding:3%;">

    <table class="ShareMarket-table">
         <h4 style="color:red;text-align:center;font-size:2rem;">Share Market Details</h4>
        <tr>
        <td >
          <label>
            Select Action
          </label>
        </td>
         <td>
          :  <select id="actionListID" name="ActionList" class="companylist-style" onchange="actionChanged()">
             <option value="Buy">Buy</option>
             <option value="Sell">Sell</option>
             </select>
        </td>
      </tr>

      <tr>
        <td >
          <label>
            Select Company
          </label>
        </td>
         <td>
          :  <select id="CompanyList" name="CompanyNames" class="companylist-style" onchange="companyListChanged()">
              {% for company in Companies: %}
                 <option value="{{ company }}">{{ company }}</option>
              {% endfor %}
             </select>
        </td>
      </tr>
        <tr>
        <td >
          <label>
            Comapany Name
          </label>
        </td>
        <td>
          : <input type="text" id ="CompName" name="CompanyName" value = {{ CompName }}>
        </td>
      </tr>
      <tr>
        <td>
          <label>
              Buy Price
          </label>
        </td>
        <td>
          : <input type="text" name="BuyPrice" onkeypress= "return checkNum(event)" value = {{ BPirce }}>
        </td>
      </tr>
      <tr>
        <td>
          <label>
               Qty
          </label>
        </td>
        <td>
          : <input type="text" name="BuyQty" onkeypress= "return checkInt(event)" value = {{ BQty }}>
        </td>
      </tr>

      <tr>
        <!--<td colspan="2" ><input type="submit" class="btn btn-lg btn-success" name="SubmitBtn" value="Calculate"></td>-->
        <td><input type="submit" class="btn btn-lg btn-success" name="SaveBtn" value="Save"></td>

      </tr>
      <tr>
          <td colspan="2"><p class="output-Text" style="color:red;">{{ outText }}</p></td>
      </tr>
    </table>
  </form>
  </div>
</div>
  </div>
<!--
<script>
 {% if Fempty != None %}
     alert("{{ outText }}")
 {% endif %}

 function actionChanged(){
        //var selectElement = event.target;
        //var value = selectElement.value;
        var x = document.getElementById("CompanyList")
        var y = document.getElementById("CompName")
        var z = document.getElementById("actionListID")
        if (z.value == "Buy")
         {
          var option = document.createElement("option")
          option.text = "Other"
          option.value = "Other"
          x.add(option,x[0])
          x.selectedIndex = "0";
          y.value = "";
        }
        else{
        if (x.options[0].value == "Other")
        {
         x.remove(0);
        }
        companyListChanged();
        }

}
function companyListChanged(){
  var x = document.getElementById("CompanyList")
  var y = document.getElementById("CompName")
  if(x[x.selectedIndex].value == "Other")
  {
   y.value = "";
  }
  else{
     y.value = x[x.selectedIndex].value;
  }

}
actionChanged();
</script>
-->
<script>
 {% if Fempty != None %}
     alert("{{ outText }}")
 {% endif %}
</script>

<script src="{{ url_for('static',filename = 'JS/invest.js') }}"></script>

{% endblock %}
