{% extends "base.html" %}
{% block title %}Blog {% endblock %}

{% block backbtn %}
   <a href="{{ url_for('blogIndexFun') }}" class = "homeBtn">Back</a>
{% endblock %}

{% block content %}
 <section id="detailBlog-section" style='color:blue;margin-top:3%;background-color:#FFF;' class="section">
     <div class="container style-container" >
       <!-- <div id="EducationDiv" class="divSectionStyle" style = 'background-color:#FDEEDC'> -->
       <div class="row div-float-section">
          <div class="col">
             <img style="width:30%;margin: auto;" class = "img-fluid rounded-corner d-block " src="{{ url_for('static',filename = 'images/workImg.png') }}" alt="studies">
              <h1 class="cardTitleStyle" style="margin-top:10%;">{{ jobj[0]["blog"][blogNum]["title"] }}</h1>
              <p class = "cardBodyStyle">Currently I am working as a Software Engineer in Kcp Limited. I joined this company on 2021 </p>
               <a href="/Blog"  class="btn btn-lg btn-primary">Back</a>
          </div>
       </div>

     </div>
   </section>
{% endblock %}